* {
    box-sizing: border-box;
}

body.dark-mode {
    background-color: hsl(0, 1%, 14%);
    color:hsl(0, 18%, 85%);
}

body.light-mode {
    background-color: hsl(229, 76%, 67%);
    color:hsl(0, 0%, 2%);
}

.car-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    width:220px;
    height:260px;
    margin: 8px;
    border:2px solid hsl(240, 60%, 62%);
    border-radius: 10px;
    overflow: hidden;
    padding: 8px;
    background-color: #ffffff22;
}

.car-card img {
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius: 8px;
    display:block;
}

.car-card p {
    margin: 8px 0 0;
    height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 600;
}

.cookie-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #ffffff;
  padding: 15px 30px;
  display: none; /* Hidden by default */
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: sans-serif;
}

.cookie-btn {
  background: #e1b12c;
  border: 0;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

#darkModeToggle {
    border:none;
    background: transparent;
    cursor: pointer;
}

#darkModeToggle:hover {
    background: #a5caea;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(196, 216, 233);
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    li:hover {
        border-bottom: 4px solid hsl(240, 73%, 71%);

    }
}

nav ul li{
    padding: 8px 10px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav li:last-child{
    margin-left: auto;
}

nav ul li:first-child:hover, #dropdown {
    border:none;
}
